/*MAIN COLORS*/
/*BACKGROUND COLORS*/
/*SHADOWS*/
/*BUTTON COLORS*/
/*BREAKPOINTS*/
header {
  margin: 0;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  max-width: 350px;
}

.header-icon {
  font-size: 20px;
  padding-left: 20px;
  flex: 0 0 40%;
}

.footer {
  background-color: #353535;
  color: #fff;
  padding: 35px;
}
.footer__logo {
  max-width: 200px;
  padding-bottom: 20px;
  filter: invert(100%);
}
.footer__items--item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer__items--item i {
  width: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.title {
  font-family: "Shrikhand", cursive;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  padding-bottom: 20px;
}
@media screen and (min-width: 600px) {
  h2 {
    text-align: center;
    font-size: 30px;
  }
}

.py-5 {
  padding: 3rem 1rem 3rem 1rem;
}

.bg-lightgrey {
  background-color: #f6f6f6;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  padding: 15px;
  font-size: 17px;
}
.location h4 {
  font-weight: 300;
  margin-left: 15px;
}

.explore__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.explore p {
  font-weight: 100;
  font-size: 18px;
}
@media screen and (min-width: 600px) {
  .explore h2 {
    text-align: center;
    font-size: 30px;
  }
}

.intro-list-group__items {
  display: flex;
  flex-direction: column;
}
.intro-list-group .intro-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 600px) {
  .intro-list-group .intro-cards {
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    gap: 30px;
  }
}
.intro-list-group .intro-cards__card {
  background-color: #f6f6f6;
  box-shadow: 0px 4px 13px -10px #000000;
  border-radius: 25px;
  max-width: 500px;
  height: 75px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 11px;
  margin-left: 15px;
}
@media screen and (min-width: 600px) {
  .intro-list-group .intro-cards__card {
    min-width: 350px;
  }
}
.intro-list-group .intro-cards__card--badge {
  position: absolute;
  color: #fff;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 5px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
  left: -15px;
  z-index: 2;
}
.intro-list-group .intro-cards__card--icon {
  font-size: 25px;
  margin-left: 10px;
  color: #8c8c8c;
}
.intro-list-group .intro-cards__card--icon:hover {
  color: #9356dc;
}
.intro-list-group .intro-cards__card--text {
  display: flex;
  font-size: 17px;
  padding-left: 30px;
}
.intro-list-group .intro-cards__card:hover {
  background-color: #f2eafb;
}

.card {
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

@media screen and (min-width: 600px) {
  .restaurant__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }
}
.restaurant__card {
  height: 100%;
  max-width: 500px;
  margin: 30px 0;
}
@media screen and (min-width: 600px) {
  .restaurant__card {
    min-width: 350px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__card {
    min-width: 450px;
  }
}
.restaurant__card--image {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 175px;
  width: 100%;
  object-fit: cover;
}
.restaurant__card--badge {
  height: 40px;
  width: 100px;
  background-color: #99e2d0;
  color: #278870;
  position: absolute;
  top: 1rem;
  left: 70%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurant__card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  border-radius: 0 0 15px 15px;
  position: absolute;
  top: 75%;
  left: 0;
  padding: 10px;
}
.restaurant__card-content h4 {
  font-weight: 100;
}

.button {
  width: 230px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  box-shadow: 0px 4px 13px -10px #000000;
  transition: transform 450ms;
}
.button:hover {
  transform: scale(1.13);
  background-image: linear-gradient(to top, #a16be0, #ff88de);
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.fa-heart {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 1.8em;
  transition: transform 150ms, color 350ms;
}
.fa-heart:hover {
  transform: scale(1.08);
  -webkit-text-stroke: 0;
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0.4, #9356dc), color-stop(1, #ff79da));
  background-image: gradient(linear, right top, left bottom, color-stop(0.4, #9356dc), color-stop(1, #ff79da));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*# sourceMappingURL=style.css.map */
