.footer {
  background-color: $backgroung-footer;
  color: #fff;
  padding: 35px;
  &__logo {
    max-width: 200px;
    padding-bottom: 20px;
    filter: invert(100%);
  }
  &__items {
    &--item {
      display: flex;
      align-items: center;
      gap: 15px;
      & a:hover {
        text-decoration: underline;
      }
    }
    &--item i {
      width: 15px;
    }
    @media screen and (min-width: map-get($breakpoints, tablet)) {
      @include flex-centered;
      flex-direction: column;
    }
  }
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @include flex-centered;
    flex-direction: column;
  }
}
