header {
  margin: 0;
  padding: 10px;
  box-shadow: map-get($map: $box-shadows, $key: shadow-dark);
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  &__logo {
    max-width: 250px;
  }
  &__icon {
    position: absolute;
    left: 15px;
    font-size: 20px;
  }
}
