header {
  margin: 0;
  padding: 10px;
  box-shadow: map-get($map: $box-shadows, $key: shadow-dark);
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  max-width: 350px;
}

.header-icon {
  font-size: 20px;
  padding-left: 20px;
  flex: 0 0 40%;
}
