* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.menu-title {
  font-family: "Shrikhand", cursive;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  padding-bottom: 20px;
  @include tablets {
    text-align: center;
    font-size: 30px;
  }
}

.py-5 {
  padding: 3rem 1rem 3rem 1rem;
}

.bg-lightgrey {
  background-color: $background-lightgrey;
}
