* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.menu-title {
  font-family: "Shrikhand", cursive;
 
}

.menu-group {
  
  & h2 {
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
  }
  &__item {
    
    &--devider {
      width: 12%;
      border: 2px solid map-get($map: $main-colors, $key: color-tertiary);
      margin-bottom: 25px;
      @media screen and (min-width: map-get($breakpoints, tablet)) {
       display: none;
      }
    }
  }
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  padding-bottom: 20px;
  @include tablets {
    text-align: center;
    font-size: 30px;
  }
}

.py-5 {
  padding: 3rem 1rem 3rem 1rem;
}

.bg-lightgrey {
  background-color: $background-lightgrey;
}
