/*LOCATION OF RESTAURANT*/

.location {
  @include flex-centered;
  background-color: $background-darkergrey;
  width: 100%;
  padding: 15px;
  font-size: 17px;

  h4 {
    font-weight: 300;
    margin-left: 15px;
  }
}

/*PRESETNTATION OF THE COMPANY*/

.explore {
  &__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  p {
    font-weight: 100;
    font-size: 18px;
  }
  @include tablets {
    h2 {
      text-align: center;
      font-size: 30px;
    }
  }
}

/*"how it works" cards*/

.intro-list-group {
  &__items {
    display: flex;
    flex-direction: column;
  }
  .intro-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    @include tablets {
      flex-wrap: wrap;
      flex-direction: row;
      flex: 1;
      gap: 30px;
    }

    &__card {
      background-color: $background-lightgrey;
      box-shadow: map-get($map: $box-shadows, $key: shadow-light);
      border-radius: 25px;
      max-width: 500px;
      height: 75px;
      display: flex;
      position: relative;
      align-items: center;
      padding-left: 11px;
      margin-left: 15px;
      @include tablets {
        min-width: 350px;
      }
      &--badge {
        position: absolute;
        color: #fff;
        background-color: map-get($map: $main-colors, $key: color-primary);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        padding: 5px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 30px;
        left: -15px;
        z-index: 2;
      }
      &--icon {
        font-size: 25px;
        margin-left: 10px;
        color: map-get($map: $main-colors, $key: color-icons);
        &:hover {
          color: map-get($map: $main-colors, $key: color-primary);
        }
      }

      &--text {
        display: flex;
        font-size: 17px;
        padding-left: 30px;
      }

      &:hover {
        background-color: map-get(
          $map: $main-colors,
          $key: color-primary-lightend-high
        );
      }
    }
  }
}
